.wrap {
  position: absolute;
  background-color: #101010;
  height: 270px;
  width: 100vw;
  left: 0;
  z-index: 105;
  bottom: 0;
  transform: translateY(270px);
}

.wrapActive {
  transform: translateY(0);
}

.container {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 53px;
}

.toggle {
  position: absolute;
  height: 23px;
  width: 80px;
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  background-color: #0daa8e;
  top: -23px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 3px;
  padding: 0 20px;
  cursor: pointer;
}

.ai {
  position: absolute;
  width: 300px;
  right: 30px;
  top: -63px;
}

.toggle > div {
  height: 1px;
  width: 100%;
  background-color: #fff;
}

.ammoWrap {
  background-color: #02241e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100vw;
}

.actions {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.item {
  display: grid;
  grid-template-rows: 18px 1fr;
}

.itemTop {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.65);
  text-align: center;
  font-size: 15px;
  background-color: #0daa8e;
  font-weight: 400;
}

.itemBody {
  padding: 10px 0;
}

.itemContent {
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
}

.itemContentBorder {
  border-left: 1px solid rgba(207, 255, 226, 0.16);
}

.top {
  display: grid;
  grid-template-columns: 4fr 2fr 2fr 1fr 1fr 2fr 2fr 1fr;
  height: 100%;
}

.topMobile {
  height: 100%;
}

.swiperButtons {
  position: absolute;
  top: -80px;
  padding: 10px;
  transform: translateX(20px);
  z-index: 110;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.swiperButtons > span {
  display: block;

}

.swiperButtons > span:nth-child(1) {
  transform: rotate(180deg) translateY(4px);
}

.firstSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.marginTop {
  margin-top: 20px;
}

.axisControl {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ammoItemWrap {
  display: flex;
  column-gap: 3px;
  height: 20px;
}

.ammoItem {
  width: 2px;
  height: 100%;
  background-color: #0daa8e;
}

