.wrap {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrap > svg {
  position: absolute;
}

.wrap > svg:nth-child(1) {
  transform: translateY(-30px);
}

.wrap > svg:nth-child(2) {
  transform: rotate(90deg) translateY(-30px);
}

.wrap > svg:nth-child(3) {
  transform: rotate(180deg) translateY(-30px);
}

.wrap > svg:nth-child(4) {
  transform: rotate(270deg) translateY(-30px);
}
