.btn {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
  max-width: 400px;
  width: 100%;
}

.body {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.bodyBig {
  font-size: 17px;
}

.btnTop {
  padding-bottom: 25px;
}

.btnCenter {
  margin-top: -32px;
  padding-bottom: 25px;
}

.btnBottom {
  margin-top: -32px;
}

@media screen and (max-width: 1500px) {
  .body {
    font-size: 17px !important;
  }
}