.wrap {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
}

.btn {
  cursor: pointer;
}

.value {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  cursor: auto;
}
